#tete
{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    border: solid;
    height: 120px;
    margin-bottom: 5px;
    background: url(images-1.jpg);;
}
#tete img
{
    width: 50px;
    margin-right: 10px;
    height: 70px;
}
#tete h1
{
    margin-bottom: 0;
}
#partie1
{
    margin-bottom: 7px;
}
#partie1 img
{
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}
#partie2
{
    margin-bottom: 7px;
}
#partie2 img
{
    width: 100%;
    border-radius: 20px;
    box-shadow: -5px 5px 5px gray;
}
#partie3
{
}
#partie3 img
{
   width: 100%;
   border-radius: 20px;
   box-shadow: 5px 5px 5px gray;
}
#div1
{
    display: flex;
}
#div2
{
    display: flex;
}
#div3
{
    display: flex;
}
#partie1 aside
{
    width: 40%;
    margin: auto;
    justify-content: center;
    text-align: center;
}
#partie1 article
{
    width: 60%;
}
#partie2 aside
{
    width: 60%;
}
#partie2 article
{
    width: 40%;
    margin: auto;
    justify-content: center;
    text-align: center;
}
#partie3 aside
{
    width: 40%;
    margin: auto;
    justify-content: center;
    text-align: center;
}
#partie3 article
{
    width: 60%;
}
nav ul
{
    display: flex;
    margin: auto;
    justify-content: end;
    list-style-type: none;
}
nav li
{
    margin-right: 10px;
}
nav a
{
    text-decoration: none;
    color: #181818;
    padding-bottom: 2px;
}
nav a:hover
{
    color: green;
    border-bottom: 2px solid green;
}
header
{
    background-color: deepskyblue;
    width: 100%;
    margin-bottom: 7px;
}
body
{
    background: url(fond_degraderouge.png);
}
p
{
    font-size: 20px;
    color: deepskyblue;
}
h2
{
    color: white;
}
h1
{
    color: white;
    text-shadow: 3px 3px 3px black;
    border-top-style: solid;
    font-size: 50px;
}
@media screen and (max-width: 1024px)
{
    h1
{
    color: white;
    text-shadow: 3px 3px 3px black;
    border-top-style: solid;
    font-size: 30px;
}
section p
{
    font-size: 20px;
    color: white;
    font-size: smaller;
}
h2
{
    color: deepskyblue;
    font-size: medium;
}
textarea
{
    width: 95%;
}
}
h3
{
    font-size: 20px;
}
#tel
{
    margin-left: 10%;
    margin-top: 10%;
}
h4
{
    font-size: 2.5em;
    font-style: italic;
    text-decoration-line: underline;
    background-color: white;
}
.num
{
    margin-left: 10%;
    margin-top: auto;
    margin-bottom: auto;
    color: deepskyblue;
    font-size: 25px;
}
#tel a
{
    text-decoration: none;
    color: deepskyblue;
    padding-bottom: 2px;
}
#tel a:hover
{
    color: green;
    border-bottom: 2px solid green;
}
footer
{
    margin: auto;
    text-align: center;
    background-color: deepskyblue;
}
input
{
    margin-top: 10px;
    width: 200px;
    height: 20px;
}
label
{
    font-size: 1.2em;
    background-color: deepskyblue;
}
.buton
{
    width: 100px;
    background-color: blue;
    color: white;
    border-radius: 5px;
}
.bas
{
    margin-bottom: 5%;
}